/* definição de cores */
:root {
    --cor-primaria: #1E3A8A; /* azul escuro */
    --cor--secundaria: #3B82F6; /* azul médio */
    --cor-texto: #F3F4F6; /* cincza claro */
    --cor-fundo: #0F172A; /* 
}